body {
    background-color: #f5f5f5;
    color: #4e4e4e;
}

.grid-3 {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
}

.grid-2 {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
}

.img-1 {
    width: 50%;
}

.bgmg {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

@media (max-width: 1350px) {
    .grid-3 {
        display: grid;
        justify-content: space-between;
        grid-template-columns: repeat(2, 1fr);
        padding: 0;
    }
    .grid-2 {
        display: grid;
        justify-content: space-between;
        grid-template-columns: repeat(1, 1fr);
        padding: 0;
    }
}

@media (max-width:963px) {
    .grid-3 {
        display: flex;
        flex-direction: column;
    }
    .img-1 {
        margin-left: 20%
    }
    .icone {
        height: 20%;
        margin: 2%;
    }
    .grid-items {
        min-height: fit-content;
        height: min-content;
        max-height: min-content;
    }
    .nave {
        display: none;
        visibility: hidden;
    }
}

@media (max-width: 500px) {
    .d-flex {
        display: flex;
        flex-direction: column;
    }
    .nave {
        display: none;
    }
    .head-nav {
        height: 50px;
        background-color: #f10000;
        display: flex;
        width: 100vw;
    }
    .grid-items {
        margin: 10px;
    }
    .bg-img {
        width: 100vw;
        height: 500px;
        background-color: #f10000;
    }
}

.head-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

.active {
    border-bottom: 1 solid white;
}
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}
.about {
    display: flex;
    flex-direction: row;
}

.nave {
    display: flex;
    text-decoration: none;
    list-style: none;
}
.menu {
    display: none;
    font-size: 24px;
    color: white;
}

.grid-items {
    min-height: 200px;
    height: min-content;
    max-height: min-content;
}

.carte-body {
    height: min-content;
    text-wrap: wrap
}

.conte {
    padding: 4%
}

.icone {
    height: 30%;
    margin: 2%;
}

p {
    margin-left: 2%;
    margin-right: 2%;
}

.bg-img {
    width: 100vw;
    height: 600px;
    background-image: url(../images/bgBah.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: sticky;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-white {
    color: white;
}

.bg-img::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.63);
}

.content {
    position: relative;
    z-index: 1;
    padding: 20px;
    color: white;
}

.cole-10 {
    width: 83.33333333%
}

.cole-3 {
    width: 25%
}

footer {
    display: flex;
    justify-content: center;
    background-image: url(../images/overlay-bg.jpg);
    position: relative;
    padding: 8rem 0;
}


/* .ovf {
    background-color: #0078ff;
}

.ovf {
    position: absolute;
    top: 0;
    left: 0px;
    padding: 0;
    height: 100%;
    width: 100%;
    opacity: 0.7;
} */
